.ClientFeedback-main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-family: Raleway, sans-serif;
	margin-top: 5vmax;
}
.ClientFeedback-main .ClientFeedback-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background: #f9f9f9;
}

.ClientFeedback-main .ClientFeedback-content .CF-left {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1c4583;
	padding: 6vmax;
}
.ClientFeedback-main .ClientFeedback-content .CF-left    .CF-text{
	width: 100%;
	height: 150px;
}
.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box {
	width: 90%;
	gap: 0.9vmax;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	 user-select: none;
}

.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box h3 {
	font-weight: 700;
	font-size: 2.3vmax;
	text-transform: uppercase;
	color: #fff;
}

.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box p {
	font-weight: 300;
	font-size: 17px;
	color: rgb(197, 197, 197);
}

.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box .CF-profile {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	gap: 1vmax;
}

.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box .CF-profile .CDP-LEFT {
	width: 70px;
	height: 70px;
	background: #444444;
	border-radius: 50px;

} 

.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box .CF-profile .CDP-LEFT img{
	width: 100%;
	height: 100%;
	border-radius: 50px;
	object-fit: cover

} 

.ClientFeedback-main .ClientFeedback-content .CF-left .Cf-arrows {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	margin-top: 3vmax;
	gap: 0.5vmax;
}
.ClientFeedback-main .ClientFeedback-content .CF-left .Cf-arrows i{
	border: 1px solid #fff;
	padding: 0.1vmax 0.3vmax;
	font-size: 1.3vmax;
	cursor: pointer;
}

/* -------------------------------------- */
.ClientFeedback-main .ClientFeedback-content .CF-right {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9f9f9;
	color: #000;
}
.ClientFeedback-main .ClientFeedback-content .CF-right .cf-form{
	width: 90%;
}
.ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 1vmax;
}
.ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form h5{
font-weight: 700;
font-size: 2.3vmax;
text-transform: uppercase;
}
  .ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form  .ipt-container{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;flex-direction: row;
	gap: 1vmax;
  }
  .ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form input,
  .ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form textarea{
	width: 100%;
	padding: 0.8vmax 1vmax;
	border: 0.2px solid #bcbcbc;
	outline: none;
  }
  .ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form button{
	padding: 0.7vmax 1.3vmax;
	background: #ff8432;
	border: 2px solid #ff8432;
	font-weight: 700;
	line-height: 24px;
	color: #fff;
	transition: 0.5s;
  }
  .ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form button:hover{
	background: none;
	border: 2px solid #ff8432;
	color: #ff8432;
  }

  @media (max-width:600px) {
	.ClientFeedback-main {
		width: 100%;
	}
	.ClientFeedback-main .ClientFeedback-content {
		width: 100%;
		flex-direction: column;
	}
	
	.ClientFeedback-main .ClientFeedback-content .CF-left {
		width: 100%;
		padding: 7vmax 2vmax;
	}
	.ClientFeedback-main .ClientFeedback-content .CF-left    .CF-text{
		width: 100%;
		height: auto;
	}
	.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box {
		width: 100%;
	}
	
	.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box h3 {
		font-size: 3vmax;
	}

	
	.ClientFeedback-main .ClientFeedback-content .CF-left .inner-box .CF-profile .CDP-LEFT {
		width: 70px;
		height: 70px;
	} 
	
	.ClientFeedback-main .ClientFeedback-content .CF-left .Cf-arrows {
		margin-top: 4vmax;
		gap: 2vmax;
	}
	.ClientFeedback-main .ClientFeedback-content .CF-left .Cf-arrows i{
		font-size: 3vmax;
		padding: 0.5vmax 1.3vmax;
	}
	
	/* -------------------------------------- */
	.ClientFeedback-main .ClientFeedback-content .CF-right {
		width: 100%;
		margin-top: 3vmax;
		margin-bottom: 3vmax;
	}
	.ClientFeedback-main .ClientFeedback-content .CF-right .cf-form{
		width: 95%;
	}
	.ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form h5{
	font-size: 3vmax;
	}

	  .ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form input,
	  .ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form textarea{
		padding: 1.5vmax 1.5vmax;
	  }
	  .ClientFeedback-main .ClientFeedback-content .CF-right .cf-form form button{
		padding: 1.5vmax 4vmax;
	  }

  }