
.counter-section{
	position:relative;
	padding-top:75px;
	overflow: hidden;
	margin-bottom: 3vmax
}
.counter-section .image-column{
	position:relative;
}
.counter-section .image-column .image-box{
	position:relative;
	text-align:center;
}
.counter-section .image-column .image-box img{
	position:relative;
	max-width:100%;
	display:inline-block;
	object-fit: cover;
}
.counter-section .content-column{
	position:relative;
	padding-left:130px;
	margin-bottom:50px;
}
.counter-section .content-column .inner-box{
	position:relative;
}

.counter-section .content-column .inner-box h2{
	position:relative;
	font-size:40px;
	color:#1c1c1c;
	font-weight:400;
	line-height:1.2em;
	font-family: 'Roboto', sans-serif;
}

.counter-section .content-column .inner-box .style-text{
	position:relative;
	font-size:22px;
	color:#b6b6b6;
	font-style:italic;
	font-weight:300;
	margin-top:10px;
	font-family: 'Raleway', sans-serif;
}
.counter-section .content-column .inner-box .text{
	color:#6b6b6b;
	font-size:18px;
	font-weight:300;
	margin-top:29px;
}
.fact-counter{
	position:relative;
	margin-top:20px;
}

.fact-counter .column{
	position:relative;
	margin-bottom:40px;
}

.fact-counter .column .inner{
	position:relative;
	text-align:left;
	padding-right:38px;
	display:inline-block;
	border-right:1px solid #e8e8e8;
}

.fact-counter .column:last-child .inner{
	border:0px;
	padding-right:0px;
}

.fact-counter .column .inner .icon-box{
	position:absolute;
	left:0px;
	top:6px;
	padding-right:10px;
    color: #fde535;
	line-height:0.5em;
	font-size:54px;
    font-weight: 300;
	display:inline-block;
}

.fact-counter .column .inner .icon-box span{
	font-size:36px;
}

.fact-counter .count-outer{
	position:relative;
	font-size:50px;
	line-height:1em;
}

.fact-counter .count-outer .count-text{
	position:relative;
	font-weight:300;
	display:inline-block;
	color:#ff831e;
	font-size:55px;
}

.fact-counter .count-outer .year{
	color:#b1b1b1;
	font-size:20px;
	font-weight:300;
}

.fact-counter .count-outer .plus-icon{
	color:#ff7709;
	font-weight:300;
}
.theme-btns{
	background-color:#ff7709;
	color: #fff;
	padding: 0.7vmax 1.5vmax;
	border-radius: 5px;


}

.fact-counter .column .counter-title{
	position:relative;
	font-size:22px;
	font-weight:400;
	color:#1c1c1c;
	line-height:1em;
	font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px) {
	.counter-section .d-flex {
	  flex-direction: column;
	  align-items: center;
	}
        
	.counter-section .image-column,
	.counter-section .content-column {
	  width: 100%;
	  padding: 0 15px;
	  text-align: center;
	}
        
	.counter-section .content-column {
	  padding-top: 20px;
	}
        
	.fact-counter {
	  flex-direction: column;
	  gap: 15px;
	}
	.fact-counter .column .inner {
		padding-right: 0;
		border-right: none;
		width: 80%;
	}
	.fact-counter .column {
	  width: 100%;
	}
        }
        