.Blog-main{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

}
.Blog-main .blog-content{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
}
.Blog-main .blog-content .blog-top{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.8) ;
          color: #fff ;
          padding: 5vmax;
}
.Blog-main .blog-content .blog-top h5{
        font-size: 3vmax;
        font-weight: 700;
        margin-top: 1vmax;
        text-transform: uppercase;
}
.Blog-main .blog-content .blog-btm{
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 4vmax;
}
.Blog-main .blog-content .blog-btm .blog-box{
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          margin-top: 3vmax;
          gap: 0.7vmax;
}
.Blog-main .blog-content .blog-btm .blog-img{
          width: 60%;
          height: 400px;
          background-color: #575757;
}
.Blog-main .blog-content .blog-btm .blog-img img{
          width: 100%;
          object-fit: cover;
          height: 100%;
}
.Blog-main .blog-content .blog-btm span{
       font-style: italic;
       color: #8b8b8b;
}
.Blog-main .blog-content .blog-btm h6{
          font-weight: 600;
          font-size: 1.4vmax;
}
.Blog-main .blog-content .blog-btm p{
        font-weight: 400;   
        letter-spacing: 0.2px;
        width: 60%;
color: #515151;
}

.Blog-main .blog-content .blog-btm a{
          text-transform: uppercase;
          font-weight: 600;
  }
  
  @media (max-width:600px) {
        .Blog-main{
                width: 100%;
      }
      .Blog-main .blog-content{
                width: 100%;
      }
      .Blog-main .blog-content .blog-top h5{
              font-size: 4vmax;
      }
      .Blog-main .blog-content .blog-btm{
                width: 95%;
      }
      .Blog-main .blog-content .blog-btm .blog-img{
                width: 100%;
                height: auto;
                background-color: #575757;
      }
      .Blog-main .blog-content .blog-btm h6{
                font-size: 2.7vmax;
      }
      .Blog-main .blog-content .blog-btm p{
              width: 100%;
      }
      
      .Blog-main .blog-content .blog-btm a{
                text-transform: uppercase;
                font-weight: 600;
        }
             
  }